.wrap-ecommerce{
    border: 1px hidden red;
    width: 100%;
}



.ecommerce{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.wrap-products{
    border:  1px hidden yellow;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.wrap-products-withTitle{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px hidden red;
}
.cathegorie-name{
    border: 1px hidden red;
    width: 95%;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 30px;
}
