
.signin-box{
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
    
}
.back-signin{
background-image: url('');
overflow: hidden;
background-repeat: no-repeat;
background-size: 100%;

}
.signin-box-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.signin-title{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C216F ;
    font-size: 1.9em;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 600;
}
.form-signin{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    height: 90%;
    justify-content:space-between;
    align-items: center;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 300; 
}
.form-signin label,input,button{
    font-size: 100%;
    /*height: 20%;*/
    width: 100%;
    display: flex;
    justify-content:flex-start;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    background-color: #F7F7F7;
}
.label-sigin{
    
    width: 100%;
}
.btn-signin-wrapper {

height: 50px;
width: 80%;
display: flex;
justify-content: center;
}

.wrap-signup{
    width: 100%;
    height: 100%;
}
.inscrire{
    cursor: pointer;
    margin-left: 2px;
  }
.header-sign{
    width: 100%;
    height: auto;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    color:white;
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-sign{
    width: 200px;
    height: 150px;
   
}
.b-o-i-e-signin{
    width: 100%;
    background-color: #F7F7F7;
}
.b-o-i-e-signin-1{
background-color: #F7F7F7;    
}
.b-o-i-e-signin-1:hover{
    background-color: #F7F7F7;
}
.form-signin input{
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
    outline: none;
}
.form-signin:focus, .form-signin:active {
    background: #F7F7F7;
}
input:active ,input:focus{
    background-color: #F7F7F7;
}
.footer-signin{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen  and (max-width :1100px){
    .signin{
        width: 60%;
        
    }
}
@media screen and (max-width : 500px){
    .signin{
        width: 70%;
      
    }  
}